.error-message{
    color: #ed5565;
    font-style: italic;
    /* margin-top: 5px; */
    font-size: 12px;
    font-weight: 600;
}

input::placeholder {
    font-size: 13px;
}

h5{
    text-transform: uppercase;
}

table .image{
    height: 90px;
    display: block;
}

.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    vertical-align: middle;
}

.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle{
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filter-wrapper{
    margin-bottom: 20px;
}

.filter-wrapper .perpage{
    display: inline-block;
}

.btn{
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}

.filter-wrapper .form-control{
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}
.mr10{
    margin-right: 10px;
}

.mr5{
    margin-right: 5px;
}

.mb15{
    margin-bottom: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.ml10{
    margin-left: 10px;
}

.box .ibox{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.control-label{
    display: block;
}

.panel-title{
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 700;
    color: #1a1a1a;
}

.panel-description{
    font-size: 15px;
}

.select2-container--default .select2-selection--single{
    border-radius: 0 !important;
}

.select2-container .select2-selection--single{
    height: 32px !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: color, -webkit-box-shadow;
    transition-property: color, -webkit-box-shadow;
    transition-property: box-shadow, color;
    transition-property: box-shadow, color, -webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, .05);
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, .05);
    border: 1px solid #c4cdd5;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9fafb));
    background: linear-gradient(to bottom, #ffffff, #f9fafb);
    border-color: #c4cdd5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 31px !important;
    font-size: 13px
}

.form-control{
    height: 31px;
}

.active-bg{
    background: #ffc !important;
}

.switchery-small{
    border-radius: 20px;
    height: 20px;
    width: 33px;
}

.switchery-small > small{
    height: 20px;
    width: 20px;
}

.select2-container--default{
    margin-right: 10px;
}
